<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- <div class="col-xl-3 col-md-6">
          <stats-card v-if="nbNoVenteProduct">
            <div slot="header" class="icon-warning">
              <i class="nc-icon nc-chart text-warning"></i>
            </div>
            <div slot="content">
              <p class="card-category">Product no sale</p>
              <h4 class="card-title"> {{ nbNoVenteProduct }}</h4>
            </div>
            <div slot="footer">
              <i class="fa fa-refresh"></i>Updated now
            </div>
          </stats-card>
        </div> -->

        <!-- <div class="col-xl-3 col-md-6">
          <stats-card v-if="nbGetAllProduct">
            <div slot="header" class="icon-success">
              <i class="nc-icon nc-light-3 text-success"></i>
            </div>
            <div slot="content">
              <p class="card-category">Total Product</p>
              <h4 class="card-title">{{ nbGetAllProduct }}</h4>
            </div>
            <div slot="footer">
              <i class="fa fa-calendar-o"></i>Last day
            </div>
          </stats-card>
        </div> -->

        <div class="col-md-6" style="float:right">
          <stats-card>
            <div slot="header" class="icon-danger">
              <i class="nc-icon nc-vector text-danger"></i>
            </div>
            <div slot="content">
              <h4 class="card-title">Magasin top vente: {{ this.magTopVente }}</h4>
              <p class="card-category">Nombre produit is en vente : {{ maxDataSale }}</p>
            </div>
            <div slot="footer">
            </div>
          </stats-card>
        </div>

        <div class="col-md-6" v-if="dataLoaded9" style="float:left">
          <div id="chart">
            <apexchart type="bar" height="350" :options="chartBarOptions" :series="Barseries"></apexchart>
          </div>
        </div>

      </div>

      <div class="col-md-12" v-if="dataLoaded2">
        <chart-card
          :chart-data="barChartData2"
          :chart-options="barChartOptions"
          :chart-responsive-options="barChartResponsiveOptions"
          chart-type="Bar">
          <template slot="header">
            <h4 class="card-title">Sales by category</h4>
            <p class="card-category">Product count</p>
          </template>
          <template slot="footer">
            <div class="legend">
              <i class="fa fa-circle text-info"></i> Category
              <!-- <i class="fa fa-circle text-danger"></i> BMW 5 Series -->
            </div>
            <hr>
            <div class="stats">
              <i class="fa fa-check"></i> Data information certified
            </div>
          </template>
        </chart-card>
      </div>
      <!-- <div class="col-md-12" v-if="dataLoaded5"> -->
        <!-- <chart-card
          :chart-data="barChartData4"
          :chart-options="lineChartoptions"
          :chart-responsive-options="lineChartresponsiveOptions"
          >
          <template slot="header">
            <h4 class="card-title">Sales by magasin</h4>
            <p class="card-category">Sales count</p>
          </template>
          <template slot="footer">
            <div class="legend">
              <i class="fa fa-circle text-info"></i> Mag

            </div>
            <hr>
            <div class="stats">
              <i class="fa fa-check"></i> Data information certified
            </div>
          </template>
        </chart-card> -->
        <!-- <div class="col-md-4">
          <chart-card :chart-data="tableDataChart" chart-type="Pie">
            <template slot="header">
              <h4 class="card-title">Nombre de ventes par magasin</h4>
              <p class="card-category">10</p>
            </template>
            <template slot="footer">
 
            </template>
          </chart-card>
        </div>
      </div> -->
      <!-- <div class="row">
        <div class="col-md-8">
          <chart-card :chart-data="lineChart.data"
                      :chart-options="lineChart.options"
                      :responsive-options="lineChart.responsiveOptions">
            <template slot="header">
              <h4 class="card-title">Users Behavior</h4>
              <p class="card-category">24 Hours performance</p>
            </template>
            <template slot="footer">
              <div class="legend">
                <i class="fa fa-circle text-info"></i> Open
                <i class="fa fa-circle text-danger"></i> Click
                <i class="fa fa-circle text-warning"></i> Click Second Time
              </div>
              <hr>
              <div class="stats">
                <i class="fa fa-history"></i> Updated 3 minutes ago
              </div>
            </template>
          </chart-card>
        </div>

        <div class="col-md-4">
          <chart-card :chart-data="pieChart.data" chart-type="Pie">
            <template slot="header">
              <h4 class="card-title">Email Statistics</h4>
              <p class="card-category">Last Campaign Performance</p>
            </template>
            <template slot="footer">
              <div class="legend">
                <i class="fa fa-circle text-info"></i> Open
                <i class="fa fa-circle text-danger"></i> Bounce
                <i class="fa fa-circle text-warning"></i> Unsubscribe
              </div>
              <hr>
              <div class="stats">
                <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
              </div>
            </template>
          </chart-card>
        </div>
      </div> -->

      </div>

  </div>
</template>
<script>
  import ChartCard from 'src/components/Cards/ChartCard.vue'
  import StatsCard from 'src/components/Cards/StatsCard.vue'
  import LTable from 'src/components/Table.vue'
  import {getAllProduitVente} from '@/api/api';
  import {compareVenteProduit} from '@/api/api';
  import {getNbCategorieVente} from '@/api/api';
  import {getNbAllMagasin} from '@/api/api';
  import {getNbMagasinVente} from '@/api/api';
  import {GetTopNbVenteByProd} from '@/api/api';
  import {getCategorie} from '@/api/api';
  import {getProduitVente} from '@/api/api';
  import {top10Prod} from '@/api/api';
  import VueApexCharts from "vue3-apexcharts";

  export default {
    components: {
      LTable,
      ChartCard,
      StatsCard,
      apexchart: VueApexCharts,
    },
   
    methods: {

      async fetchgetAllProductByMonth(){
          const data = await getAllProduitVente()
          console.log("get all product by month", data)
          const ListData = []
          for (const propriete in data) {
            if (data.hasOwnProperty(propriete)) {
              const valeur = data[propriete];
              ListData.push(valeur);
            }
          }

          // const monthsList = [
          //         'January', 'February', 'March', 'April', 'May', 'June', 'July',
          //         'August', 'Sept;ember', 'October', 'November', 'December'
          //       ];

          // const countsByMonth = monthsList.reduce((acc, val)=> ({...acc, [val]: 0}), {})
            

          // data.forEach(cat => {
          //   const date = new Date(cat.date);
          //   const options = { month: 'long' };
          //   const monthName = date.toLocaleString('en-US', options);

          //   countsByMonth[monthName]++; 
          // });

          const CleanListData2=JSON.parse(JSON.stringify(ListData))
          console.log("clean list", CleanListData2)
          return { series: [CleanListData2], labels: [] }
        },

        async fetchgetNbCategorieVente(){
          const data = await getNbCategorieVente()
          const labelsList = [0,1,2,3,4,5,6,7,8,9]
          const valuesList = Object.values(data);
          return { series: [valuesList], labels: labelsList }
        },   

        bestSale(){ 
          const dataGraph = JSON.parse(JSON.stringify(this.barChartData4))
          const dataWithMagIds = dataGraph.labels.map(index => ({ mag_id: parseInt(index), value: dataGraph.series[0][index] }));
          dataWithMagIds.sort((a,b) => b.value - a.value)
          const data = dataWithMagIds.slice(0, 10);

          return { data : data.map(v => ({[v.mag_id.toString()]: v.value})), columns:data.map(v=> v.mag_id+"")}
       
        },

        graphInit(){
          const dataGraph = JSON.parse(JSON.stringify(this.barChartData4))
          const dataWithMagIds = dataGraph.labels.map(index => ({ mag_id: parseInt(index), value: dataGraph.series[0][index] }));
          dataWithMagIds.sort((a,b) => b.value - a.value)
          const data = dataWithMagIds.slice(0, 10);
      
          return { series : data.map(v => v.value), labels:data.map(v=> '' + v.mag_id)}

        },

        async graphGenerator(){
          const data = await this.bestSale()
          this.tableData = data
          console.log("graphGenerator  this.tableData ", this.tableData)

          const DataChart = await this.graphInit()
          this.tableDataChart = DataChart
          this.tableDataLoaded = true
          this.dataLoaded5 = true
          console.log("graphGenerator  this.tableDataChart ", this.tableDataChart)

        },
        async barChartInit(){
          const data =  await top10Prod()
          const docCountList = data.map(item => item.doc_count);
          console.log(docCountList)
          console.log(data.map(item => item.key))
          const labels = {  chart: {
            type: 'bar',
            height: 350
          },plotOptions: {
              bar: {
                borderRadius: 4,
                horizontal: true,
              }
            },
          xaxis: {
            categories: data.map(item => item.key),
             }}
          return {data: [{data: docCountList}], labels }
        }

    },  
    async mounted()
    {
      this.nbGetAllProduct = await this.fetchgetAllProductByMonth();
      // this.nbNoVenteProduct = await compareVenteProduit();
      this.nbAllMag = await getNbMagasinVente();

      console.log("nb magasin Vente", this.nbAllMag);

      this.barChartData = []
      this.dataLoaded = false
      const data = await this.fetchgetAllProductByMonth();
      this.barChartData = data
      console.log("test barChartData", this.barChartData)
      this.dataLoaded = true

      this.barChartData4 = []
      this.dataLoaded5 = false
      // const data3 = await this.getNbMagasinVente()
      this.barChartData4 = this.nbAllMag
      this.dataLoaded5 = true
      const valuesArray = Object.values(this.nbAllMag);

// Maintenant, valuesArray est un tableau de valeurs numériques
      this.maxDataSale = Math.max(...valuesArray);
      let maxDataSaleId = null;
      for (const id in this.nbAllMag) {
          if (this.nbAllMag.hasOwnProperty(id) && this.nbAllMag[id] === this.maxDataSale) {
              maxDataSaleId = id;
              break;
          }
        }

      this.magTopVente = maxDataSaleId;
      this.dataLoaded5 = true;

      this.barChartData2 = []
      this.dataLoaded2 = false
      const data5 = await this.fetchgetNbCategorieVente()
      this.barChartData2 = data5  
      console.log("sale by categorie", this.barChartData2)
      this.dataLoaded2 = true

      const {data: barChartData, labels: categories} = await this.barChartInit()
      this.Barseries = barChartData
      this.chartBarOptions = categories
      console.log(this.Barseries, this.chartBarOptions)
      this.dataLoaded9 = true
      console.log("top 10 produit vendu", this.Barseries)

      this.graphGenerator()

      
    },
    data () {
      return {
        labelBarList : [],
        magTopVente: '',
        maxDataSale:'',
        dataLoaded2: false,
        dataLoaded9: false,
        barChartData2: {
        },
        top10Prod: '',
        barChartOptions: {
          seriesBarDistance: 10,
          axisX: {
            showGrid: false
          },
          height: '245px'
        },
        Barseries: [{
            data: []
          }],
        chartBarOptions: {
        },
        barChartResponsiveOptions: [
          ['screen and (max-width: 640px)', {
            seriesBarDistance: 5,
            axisX: {
              labelInterpolationFnc (value) {
                return value[0]
              }
            }
          }]
        ],
        dataLoaded5 : false,
        editTooltip: 'Edit Task',
        deleteTooltip: 'Remove',
        lineChartdata: {
        },
        lineChartoptions: {
          low: 0,
          high: 200,
          showArea: false,
          height: '200px',
          axisX: {
            showGrid: false
          },
          lineSmooth: true,
          showLine: true,
          showPoint: false,
          fullWidth: true,
          chartPadding: {
            right: 10
          }
        },
        tableDataChart: {

        },
        lineChartresponsiveOptions:{},
        pieChart: {
        data: {
          labels: ['40%', '20%', '40%'],
          series: [40, 20, 40]
        },
    
        value: '',
        context: null
        },
        nbAllMag: [],
        nbrProduct : [],
        top10: [],
        
        lineChart: {
          data: {
            labels: ['9:00AM', '12:00AM', '3:00PM', '6:00PM', '9:00PM', '12:00PM', '3:00AM', '6:00AM'],
            series: [
              [287, 385, 490, 492, 554, 586, 698, 695],
              [67, 152, 143, 240, 287, 335, 435, 437],
              [23, 113, 67, 108, 190, 239, 307, 308]
            ]
          },
          options: {
            low: 0,
            high: 800,
            showArea: false,
            height: '245px',
            axisX: {
              showGrid: false
            },
            lineSmooth: true,
            showLine: true,
            showPoint: true,
            fullWidth: true,
            chartPadding: {
              right: 50
            }
          },
          responsiveOptions: [
            ['screen and (max-width: 640px)', {
              axisX: {
                labelInterpolationFnc (value) {
                  return value[0]
                }
              }
            }]
          ]
        },
        nbNoVenteProduct:'',
        barChartData : [],
        // barChart: {
        //   data: {
        //     labels: ['Jan', 'Feb', 'Mar', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        //     series: [
        //       [542, 443, 320, 780, 553, 453, 326, 434, 568, 610, 756, 895],
        //     ]
        //   },
        //   options: {
        //     seriesBarDistance: 10,
        //     axisX: {
        //       showGrid: false
        //     },
        //     height: '245px'
        //   },
        //   responsiveOptions: [
        //     ['screen and (max-width: 640px)', {
        //       seriesBarDistance: 5,
        //       axisX: {
        //         labelInterpolationFnc (value) {
        //           return value[0]
        //         }
        //       }
        //     }]
        //   ]
        // },
        tableData: {
          data: [
            {title: 'Sign contract for "What are conference organizers afraid of?"', checked: false},
            {title: 'Lines From Great Russian Literature? Or E-mails From My Boss?', checked: true},
            {
              title: 'Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit',
              checked: true
            },
            {title: 'Create 4 Invisible User Experiences you Never Knew About', checked: false},
            {title: 'Read "Following makes Medium better"', checked: false},
            {title: 'Unfollow 5 enemies from twitter', checked: false}
          ]
        }
      }
    } 

}
</script>
<style>

</style>
