<template>
  <div class="content">
    <div class="container-fluid">
      <div class="col-md-4" v-if="dataLoaded">
        <chart-card :chart-data="pieChart" chart-type="Pie">
          <template slot="header">
            <h4 class="card-title">Fabricant</h4>
            <p class="card-category">Par catégorie</p>
          </template>
          <template slot="footer">
            <!-- <div class="legend">
              <i class="fa fa-circle text-info"></i> Open
              <i class="fa fa-circle text-danger"></i> Bounce
              <i class="fa fa-circle text-warning"></i> Unsubscribe
            </div> -->
            <!-- <hr>
            <div class="stats">
              <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
            </div> -->
          </template>
        </chart-card>
      </div>
      <!-- <div class="col-md-4" style="float:right">
        <base-input type="text"
                  label="Search Category"
                  placeholder="Category"
                  v-model="cat_id">
        </base-input>
        <div class="text-center">
          <button type="submit" class="btn btn-info btn-fill float-right" @click.prevent="fetchCatSelect(cat_id)">
            Search 
          </button>
        </div> -->
        <div class="row">
          <h3>Product by time</h3>
          <label for="example-datepicker">Choose a start date</label>
          <b-form-datepicker id="example-datepicker" v-model="value1" class="mb-6"></b-form-datepicker>
          <p>Value: '{{ value1 }}'</p>

          <div>
            <b-form-group label="Individual radios" v-slot="{ ariaDescribedby }">
              <b-form-radio v-model="selected" :aria-describedby="ariaDescribedby" name="some-radios" value="catId">Catégorie</b-form-radio>
              <b-form-radio v-model="selected" :aria-describedby="ariaDescribedby" name="some-radios" value="fabId">Fabricant</b-form-radio>
            </b-form-group>
        
            <div class="mt-3">Selected: <strong>{{ selected }}</strong></div>
          </div>

          <label for="example-datepicker">Choose a end date</label>
          <b-form-datepicker id="example-datepicker" v-model="value2" class="mb-6"></b-form-datepicker>
          <p>Value: '{{ value2 }}'</p>

          <b-dropdown id="dropdown-1" text="Dropdown Button" class="m-md-2">
            <b-dropdown-item v-for="(mag, index) in listMagazin" @click.prevent="selectMag(mag, index)">{{ index }}  - {{mag}}</b-dropdown-item>
          </b-dropdown>
   
          <button type="submit" class="btn btn-info btn-fill float-right" @click.prevent="fetchProductByTime(value1, value2, index, selected)">
            Search 
          </button>
        </div>

        <div class="col-md-4" style="float:left">
          <base-input type="text"
                    label="Search Fabriquant"
                    placeholder="Identifiant fabricant"
                    v-model="idFab">
          </base-input>
          <div class="text-center">
            <button type="submit" class="btn btn-info btn-fill float-right" @click.prevent="prodByFab(idFab)">
              Search 
            </button>
          </div>
        </div>

        <div class="col-md-4" style="float:left">
          <base-input type="text"
                    label="Search Category"
                    placeholder="Category"
                    v-model="cat_id">
          </base-input>
          <div class="text-center">
            <button type="submit" class="btn btn-info btn-fill float-right" @click.prevent="fetchCat(cat_id)">
              Search 
            </button>
          </div>
        </div>
         
      <!-- </div> -->
   
    </div>
  </div>
</template>
<script>
  import Card from 'src/components/Cards/Card.vue';
  import ChartCard from 'src/components/Cards/ChartCard.vue';
  import StatsCard from 'src/components/Cards/StatsCard.vue';
  import {getProductbyCategory} from '@/api/api';
  import {getNbMagasinVente} from '@/api/api';
  import {getByDate} from '@/api/api';
  import {getDate} from '@/api/api';
  import {getFab} from '@/api/api';
  import {getCategorie} from '@/api/api';
  import VueApexCharts from "vue3-apexcharts";

  export default {
    components: {
      Card,
      ChartCard,
      StatsCard
    }, 

    data () {

      return {
        selectedItem: null,
        pieChart: {},
        dataLoaded: false,
        value1: '',
        value2: '',
        listMagazin : [],
        index:'',
        idFab: '',
        cat_id: '',
        selected: '',
      }
    }, 

    methods: {
      async pieGraphInit(){
        const responseProdbyCat = await getProductbyCategory();        
        const cleanListData = JSON.parse(JSON.stringify(responseProdbyCat))
        const cleanListArray = Object.values(cleanListData);
        const listCat = [0,1,2,3,4,5,6,7,8,9]
        return { series : cleanListArray, labels:listCat}
      },
      onContext(ctx) {
        this.context = ctx
      },
      async fetchProductByTime(start, end, selected){
  
        let countFabId = []
        let countCatdId = []
      
          if(end && this.index){
         
            const responseProdbyTime = await getByDate(start, end, this.index);

            countFabId = this.countOccurrences(responseProdbyTime, "fab_id")
            countCatdId = this.countOccurrences(responseProdbyTime, "cat_id")
            console.log("nbr prod_id", countProdId, countFabId, countCatdId) 

          }else if(start){
            const responseProdbyDate = await getDate(start);
            countFabId = this.countOccurrences(responseProdbyDate, "fab_id")
            countCatdId = this.countOccurrences(responseProdbyDate, "cat_id")
            console.log("nbr prod_id", countProdId, "nbr fab_id",countFabId, "nbr cat_id",countCatdId)  
          }else{
            console.log("erreur")
          }
      
      
      },
      async addMagList(){
        const dataMag = await getNbMagasinVente()
        return dataMag
      },
      selectMag(mag, index){
        this.index = index
      },
      async prodByFab(idFab){
        const dataFab = await getFab(idFab)
        console.log("liste des produits du fabricant", dataFab)
      },
      async fetchCat(cat_id) {
        const response = await getCategorie(cat_id);
      },
    countOccurrences(dataList, key) {
        const counts = {};

        for (const item of dataList) {
          const value = item[key];

          if (counts[value]) {
            counts[value]++;
          } else {
            // Sinon, initialisez le compteur à 1
            counts[value] = 1;
          }
        }
        const countsList = Object.entries(counts).map(([value, count]) => ({
          value,
          count
        }));

        console.log("voici la liste", countsList);

        return countsList;
    }

    },

    async mounted() {  
 
      const data = await this.pieGraphInit()
      this.pieChart = data

      this.dataLoaded = true
      this.listMagazin = await this.addMagList();
    
    }
  }

</script>
<style lang="scss">


</style>
