<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="row col-12">
          <div style="float:left" class="col-md-4">
            <stats-card class="card-user" >
         
              <div slot="header" class="icon-info">
                <i class="nc-icon nc-favourite-28 text-primary"></i>
              </div>
              <div slot="content">
                <p class="card-category">Fabricant</p>
                <h4 class="card-title">Total produit</h4>
                <p class="card-category">{{ this.nbrProdByFab}}</p>
              </div>
              <div slot="footer">
                <i class="nc-icon nc-simple-remove" @click="init(sale)"></i>Back
              </div>
              <!-- BOUTON -->
              <!-- <div slot="footer" class="text-center d-flex justify-content-center">
                <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
              </div> -->
            </stats-card>
          </div>
          <div class="col-xl-3 col-md-6"  style="clear:both" >
            <div id="chart">
              <apexchart type="bar" height="350" :options="chartBarOptions" :series="Barseries"></apexchart>
            </div>
          </div>
          <div class="col">
            <div class="col-md-12" style="float:right">
              <div>
                <base-input type="text"
                  label="Insert id product - Nb mag"
                  placeholder="idMag"
                  v-model="idMag">
                </base-input>
                <stats-card v-if="dataLoaded3 == true">
                  <div slot="header" class="icon-warning">
                    <i class="nc-icon nc-chart text-warning"></i>
                  </div>
                  <div slot="content">
                    <p class="card-category">Nombre de magasins :</p>
                    <h4 class="card-title"> {{ barChartData3.nbMagasin }}</h4>
                  </div>
                  <div slot="footer">
                    <i class="fa fa-refresh"  @click.prevent="dataLoaded3 = false"></i>Updated now
                  </div>
                </stats-card>
                <button type="submit" class="btn btn-info btn-fill float-right" @click.prevent="getNbAllMagasin(idMag)" style="margin-bottom:1%">
                  Search
                </button>
              </div>
                <base-input type="text"
                          label="Search Product"
                          placeholder="id"
                          v-model="id">
                </base-input>
                <div v-if="Object.keys(this.sale).length > 0">
                  <stats-card class="card-user" >
               
                    <div slot="header" class="icon-info">
                      <i class="nc-icon nc-favourite-28 text-primary"></i>
                    </div>
                    <div slot="content">
                      <h4 class="card-title"> Produit id : {{ sale.prod_id }}</h4>
                      <p class="card-category"> Date de la mise en vente : {{ sale.date }}</p>
                      <h4 class="card-title"> Categorie : {{ sale.cat_id }}</h4>
                      <!-- <p class="card-category">{{ sale.fab_id }}</p> -->
                      
    
                    </div>
                    <div slot="footer">
                      <i class="nc-icon nc-simple-remove" @click="sale = {}" style="margin:1%"></i>Back
                    </div>
                  </stats-card>
                </div>
                <div class="text-center" style="margin:1%">
                  <button type="submit" class="btn btn-info btn-fill float-right" @click.prevent="fetchsale(id);selectProd(id)">
                    Search
                  </button>
                </div>
              </div>
          </div>    
        </div>
        <div class="col-md-12" v-if="dataLoaded">
          <chart-card
            :chart-data="barChartData"
            :chart-options="barChartOptions"
            :chart-responsive-options="barChartResponsiveOptions"
            chart-type="Bar">
            <template slot="header">
              <h4 class="card-title">Sales for category</h4>
              <p class="card-category">By month</p>
            </template>
            <template slot="footer">
              <div class="legend">
                <i class="fa fa-circle text-info"></i> Category
                <!-- <i class="fa fa-circle text-danger"></i> BMW 5 Series -->
              </div>
              <hr>
              <div class="stats">
                <i class="fa fa-check"></i> Data information certified
              </div>
            </template>
          </chart-card>
        </div>

   
      </div>
      <div class="row">
        <div class="col-md-6" v-if="dataLoad7" style="float: left;">
          <chart-card :chart-data="tableDataChart" chart-type="Pie">
            <template slot="header">
              <h4 class="card-title">Sale by categorie</h4>
              <p class="card-category"></p>
            </template>
          </chart-card>
        </div>
        <div id="chart" class="col-md-6" style="float: right;">
          <apexchart type="radar" height="350" :options="chartOptionsRadar" :series="seriesRadar"></apexchart>
        </div>
      </div>
  




      <!-- <div class="col-md-12" v-if="dataLoaded5">
        <chart-card
          :chart-data="barChartData4"
          :chart-options="lineChartoptions"
          :chart-responsive-options="lineChartresponsiveOptions"
          >
          <template slot="header">
            <h4 class="card-title">Sales by magasin</h4>
            <p class="card-category">Sakes count</p>
          </template>
          <template slot="footer">
            <div class="legend">
              <i class="fa fa-circle text-info"></i> Mag
      
            </div>
            <hr>
            <div class="stats">
              <i class="fa fa-check"></i> Data information certified
            </div>
          </template>
        </chart-card>
     
      </div>
      <div>
        <base-input type="text"
        label="Insert id product - Nb mag"
        placeholder="Mag"
        v-model="id_Mag">
        </base-input>
        <div class="text-center">
          <button type="submit" class="btn btn-info btn-fill float-right" @click.prevent="getSalesByMagAndByMonth(id_Mag)">
            Search 
          </button>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-info btn-fill float-right" @click.prevent="graphGenerator()">
          10 best saileur 
        </button>
      </div>
      <div>
        <card class="strpied-tabled-with-hover"
        body-classes="table-full-width table-responsive"
        >
          <template slot="header">
            <h4 class="card-title">Best sailer</h4>
            <p class="card-category">10 first</p>
          </template>
          <l-table class="table-hover table-striped"
                  :columns="this.tableData.columns"
                  :data="this.tableData.data">
          </l-table>
        </card>
      </div>
   
<div></div> -->
      <div v-if="dataLoad6">
          <div id="chart">
            <apexchart type="area" height="350" :options="ApexChartOptions" :series="ApexSeries"></apexchart>
          </div>
      </div>

     
   
      <!-- <div><Bubble :data="data" :options="options" /></div>   -->
    </div>
  </div>
</template>
<script>
  import Card from 'src/components/Cards/Card.vue';
  import LTable from 'src/components/Table.vue';
  import {getSale} from '@/api/api';
  import {getCategorie} from '@/api/api';
  import {getProduitVente} from '@/api/api';
  import ChartCard from 'src/components/Cards/ChartCard.vue';
  import StatsCard from 'src/components/Cards/StatsCard.vue';
  import {getAllProduitVente} from '@/api/api';
  import {compareVenteProduit} from '@/api/api';
  import {getNbCategorieVente} from '@/api/api';
  import {getNbAllMagasin} from '@/api/api';
  import {getNbMagasinVente} from '@/api/api'; 
  import {SalesByMagasin} from '@/api/api';  
  import {GetMagidCounts} from '@/api/api';  
  import VueApexCharts from "vue3-apexcharts"; // Assuming you are using vue3-apexcharts
  import {getAllFab} from '@/api/api'; 
  import {getAllProductByCatAndByFabId} from '@/api/api'; 
  // ChartJS.register(LinearScale, PointElement, Tooltip, Legend)
  import {getProdByIdByMonth} from '@/api/api'; 
  import {getSaleByCatAndFabId} from '@/api/api';
  import {top10ProdByCatAndFab} from '@/api/api';
  import {getFab} from '@/api/api';
  import {top10Prod} from '@/api/api';

  export default {
    components: {
      Card,
      LTable,
      ChartCard,
      StatsCard,
      apexchart: VueApexCharts
    },
    
    methods: {
      ///retourne un seul produit
        async fetchsale(id) {
            try {
                const response = await getSale(id); 
                this.sale = response;              
            } catch (error) {
                console.error('Failed to fetch sale:', error);
            }
        },
        ///retourne les ventes de produit d'une catégorie par
        async fetchProd(id) {
            try {
                const response = await getProdByIdByMonth(id); 
                console.log("voici la response de la nouvelle API", response)
                const monthsList = [
                    'January', 'February', 'March', 'April', 'May', 'June', 'July',
                    'August', 'Sept;ember', 'October', 'November', 'December'
                  ];

                  // Liste de tous les mois que vous souhaitez afficher
                  const allMonths = ["2022-01", "2022-02", "2022-03", "2022-04", "2022-05", "2022-06", "2022-07", "2022-08", "2022-09", "2022-10", "2022-11", "2022-12"];

                  // Créez un objet avec des valeurs de 0 pour tous les mois
                  const dataByMonth = {};
                  allMonths.forEach(month => {
                    dataByMonth[month] = 0;
                  });

                  // Mettez à jour l'objet avec les données réelles de l'API
                  for (const month in response) {
                    if (response.hasOwnProperty(month)) {
                      dataByMonth[month] = response[month];
                    }
                  }

                const valuesList = Object.values(dataByMonth);
  
              return { series: [valuesList], labels:allMonths }
               }catch (erreur) {
                console.error('Failed to fetch category:', erreur)
               }
        },
        async fetchgetNbCategorieVente(){
          const data = await getNbCategorieVente()
          const labelsList = [0,1,2,3,4,5,6,7,8,9]
          const valuesList = Object.values(data);
          return { series: [valuesList], labels: labelsList }
        },

        async getFab(){
          const data = await getFab(951)
          this.nbrProdByFab = data.length
        },

        async getNbAllMagasin(id){
          this.dataLoaded3 = false
          this.barChartData3 = []
          const data = await getNbAllMagasin(id)
          this.barChartData3 = data
          this.dataLoaded3 = true
        },

        async getAllFab(){
          const data = await getAllFab()
        },


        async getNbMagasinVente(){
          const data = await getNbMagasinVente()
          const valuesList = Object.values(data);
          const labelsList = Object.keys(valuesList);
          return { series: [valuesList], labels: labelsList }
        },

       
        async getAllSalesByMagasin(){
          const data = await SalesByMagasin()
        },

        async getDataSalesByMagAndByMonth(idMag){
          const data = await SalesByMagasin(idMag)
          const valuesList = Object.values(data);
          return valuesList;
        },

        async getSalesByMagAndByMonth(idMag){
          this.dataLoad6 =false
          const data = await this.getDataSalesByMagAndByMonth(idMag); 
          this.ApexSeries = [{
            name: idMag, // Utiliser idMag comme nom
            data: data // Utiliser le tableau dataLabel comme données
          }];
          this.dataLoad6 = true
        },

        initSale(sale){
          this.sale = {}
        },

        async initGraphNbSaleByCat(){
          const data = await getAllProductByCatAndByFabId(912)
          const cleanListData = JSON.parse(JSON.stringify(data))
          const cleanListArray = Object.values(cleanListData);
          const countVal =  cleanListData.map(v => v.products.length)
          const listCat = Object.keys(cleanListData)
          return { series : countVal, labels:listCat }
        },

        async selectProd(id){
          this.barChartData = []
          this.dataLoaded = false
          const data12 = await this.fetchProd(id)
          this.barChartData = data12
          this.dataLoaded = true
        },
        async barChartInit(){
          const data =  await top10ProdByCatAndFab(951)
          console
          const docCount = Object.values(data)
          const docCountList = data.map(item => Object.values(item)[0]);
          console.log("nous sommes dans barcharinit by fab 1", docCount)
          // const docCountList = JSON.parse(JSON.stringify(docCount))
          console.log("nous sommes dans barcharinit by fab 2", docCountList)
          const labels = {  chart: {
            type: 'bar',
            height: 350
          },plotOptions: {
              bar: {
                borderRadius: 4,
                horizontal: true,
              }
            },
          xaxis: {
            categories: ['9127','10659','12056'],
             }}
          return {data: [{data: docCountList}], labels }
        },


        async radarInit(){  
          this.dataLoad8 = false
          const data =  await getSaleByCatAndFabId(951)
          const valueList = Object.values(data)
          const labelList = ["0","1","2","3","4","5","6","7","8","9"]
          const result = labelList.map(label => {
            return data[label] || 0; // Utilisez la valeur de data[label] s'il existe, sinon 0
          });
      
          return [{ data : result, name:labelList}]
        }
    },
    async mounted() {

        const {data: barChartData, labels: categories} = await this.barChartInit()
        this.Barseries = barChartData
        this.chartBarOptions = categories
        console.log(this.Barseries, this.chartBarOptions)
        this.dataLoaded9 = true
        console.log("top 10 produit vendu", this.Barseries)

        this.barChartData2 = []
        this.dataLoaded2 = false
        const data5 = await this.fetchgetNbCategorieVente()
        this.barChartData2 = data5  
        this.dataLoaded2 = true

        this.barChartData4 = []
        this.dataLoaded4 = false
        const data3 = await this.getNbMagasinVente()
        this.barChartData4 = data3
        this.dataLoaded4 = true

        this.dataLoad7 = false
        const data6 = await this.initGraphNbSaleByCat()
        this.tableDataChart = data6
        this.dataLoad7 = true

       this.dataLoad8 = false
       const data8 = await this.radarInit()
       this.seriesRadar = data8
  
        // const data4 = await this.getAllSalesByMagasin()
        // console.log("nombre vente par magasin ", data4)
        // const data4 = await this.getAllFab()
        // console.log("retour getAllFab", data4)

   

      this.getFab()
        
      },
    
    data(){
      return {
      dataLoad8 : false,
      tableDataLoaded: false,
      tableDataChart: {

      },     
      barChartOptions: {
        seriesBarDistance: 10,
        axisX: {
          showGrid: false
        },
        height: '245px'
      },
        Barseries: [{
            data: []
          }],
      tableColumns: [
        // Définissez vos colonnes ici
        // Exemple : { label: 'Magasin', field: 'mag_id' },
      ],
      chartBarOptions: {
        },
      tableData: [],
      // tableData:{
      //     columns: [],
      //     data: []
      //   },
        salesList: [],
        sale: {},
        cat_id: '',
        id_Mag: '',
        id: '',
        test: '',
        selectCategory: [],
        selectCategoryDate: [],
        counts: [],
        bla: '',
        saleJSON : '',
        dataLoaded9 : false,
        monthsList : ['January', 'February', 'March', 'April', 'May', 'June', 'July',
                                  'August', 'September', 'October', 'November', 'December'
                    ],
        CleanListData:[],
        CleanListData2:[],
        dataLoad6: false,
        counts: [],
        listData: [],
        listData2: [],
        dataLoaded: false,
        dataLoaded2: false,
        dataLoaded3 : false,
        dataLoaded4: false,
        dataLoaded5: false,
        dataLoad7: false,
        nbrProdByFab: '',
        barChartData: {
        },
        barChartData2: {
        },
        barChartData3: {},
        barChartData4: {
        },
        barChartData5: {
        },
        labels: [],
        labelsList:[],
        barChartOptions: {
          seriesBarDistance: 10,
          axisX: {
            showGrid: false
          },
          height: '245px'
        },
        barChartResponsiveOptions: [
          ['screen and (max-width: 640px)', {
            seriesBarDistance: 5,
            axisX: {
              labelInterpolationFnc (value) {
                return value[0]
              }
            }
          }]
        ],
        lineChartdata: {
        },
        lineChartoptions: {
          low: 0,
          high: 200,
          showArea: false,
          height: '200px',
          axisX: {
            showGrid: false
          },
          lineSmooth: true,
          showLine: true,
          showPoint: false,
          fullWidth: true,
          chartPadding: {
            right: 10
          }
        },
        lineChartresponsiveOptions:{},
        responsiveOptions: [
          ['screen and (max-width: 640px)', {
            axisX: {
              labelInterpolationFnc (value) {
                return value[0]
              }
            }
          }]
        ],
        chartOptions: {
          chart: {
              height: 350,
              type: 'bubble',
          },
          dataLabels: {
              enabled: false
          },
          fill: {
              opacity: 0.8
          },
          title: {
              text: 'Simple Bubble Chart'
          },
          xaxis: {
              tickAmount: 12,
              type: 'category',
          },
          yaxis: {
              max: 70
          }
        },
        idMag : '',
        ApexSeries: [{
            name: '',
            data: []
          }],
        ApexChartOptions: {
          chart: {
            height: 350,
            type: 'area'
          },
          dataLabels: {
            enabled: false
          },
          stroke: {
            curve: 'smooth'
          },
          xaxis: {
            type: 'string',
            categories: ['January', 'February', 'March', 'April', 'May', 'June', 'July',
                                'August', 'September', 'October', 'November', 'December']
          },
          tooltip: {
            x: {
              format: 'dd/MM/yy'
            },
          },
        },
        seriesRadar: [{
            name: ["0","1","2","3","4","5","6","7","8","9"],
            data: [],
          }],
        chartOptionsRadar: {
          chart: {
            height: 350,
            type: 'radar',
          },
          dataLabels: {
            enabled: true
          },
          plotOptions: {
            radar: {
              size: 140,
              polygons: {
                strokeColors: '#e9e9e9',
                fill: {
                  colors: ['#f8f8f8', '#fff']
                }
              }
            }
          },
          title: {
            text: 'Sale by category'
          },
          colors: ['#FF4560'],
          markers: {
            size: 4,
            colors: ['#fff'],
            strokeColor: '#FF4560',
            strokeWidth: 2,
          },
          tooltip: {
            y: {
              formatter: function(val) {
                return val
              }
            }
          },
          xaxis: {
            categories: ["0","1","2","3","4","5","6","7","8","9"]
          },
          yaxis: {
            tickAmount: 7,
            labels: {
              formatter: function(val, i) {
                if (i % 2 === 0) {
                  return val
                } else {
                  return ''
                }
              }
            }
          }
        },
          
         
      }
    }
  }

</script>
<style>

</style>
